*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* MAIN */

body{
    font-family: 'Mate SC', serif;

}

.product{
    height: 100vh;
    position: relative;
}

main div.product:first-child{
    background-color: red;
}

main div.product:nth-child(2){
    background-color: forestgreen;
}
main div.product:last-child{
    background-color: goldenrod ;

}

 .content {
    background-color: transparent;
    width: 300px;
    text-align: center;
    color:yellow;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
     
}

 .content img {
    width: 100%;
}

.main-nav{
    position: fixed;
    top:20px;
    right:20px; 
    z-index:1; 
}

.main-nav ul li{
    display: inline-block;
    margin: 0 15px;
    background-color: white;
    border-radius: 50%;
    height:30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    cursor:pointer;
    font-weight: 600;
    box-shadow:5px 3px 2px rgba(0, 0, 0, .5); 
    
}
.main-nav li a{
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);      
}

.main-nav li:hover a {
    color: white ;
}
.main-nav li:hover{
    background-color: #283747;

}


